package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import com.junshan.common.annotation.Excel;
import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
#if($table.crud)
import com.junshan.common.core.domain.BaseEntity;
#elseif($table.tree)
import com.junshan.common.core.domain.TreeEntity;
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@Data
@ApiModel("${functionName}")
public class ${ClassName} extends ${Entity}
        {
private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.list)
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end
            #if($parentheseIndex != -1)
            @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
            #elseif($column.javaType == 'Date')
            @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
            #else
            @Excel(name = "${comment}")
            #end
            #if($column.javaType == 'Date')
            @JsonFormat(pattern = "yyyy-MM-dd")
            #elseif($column.columnType.indexOf("char(")!=-1)
                #set($varcharIndex=$column.columnType.indexOf("(")+1)
                #set($maxLength=$column.columnType.substring($varcharIndex, $column.columnType.indexOf(")")))
            @Size(min = 0, max = $maxLength, message = "${comment}长度不能超过${maxLength}个字符")
            #end
        @ApiModelProperty("${comment}")
        #end
    private $column.javaType $column.javaField;

    #end
#end


}
